# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Vim
*.swp

# Unity
/Library
/Temp
/UnityPackageManager
/Packages

# Included as a Git Submodule
Assets.meta
LICENSE*.meta
README*.meta
ProjectSettings.meta
ProjectSettings/*.meta
